<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{section.settings.img | img_url: '600x'}}" class="hero__img pop-in">
            </div>
            <div class="col-md-6">
                <div class="hero__body">
                    <span class="hero__tag pop-in">{{section.settings.tag | escape}}</span>

                    <div class="hero__headings">
                        <h1 class="hero__heading secondary pop-in">
                            {{section.settings.heading_top | escape}}
                        </h1>
                        <h1 class="hero__heading primary pop-in">{{section.settings.heading_bottom | escape}}</h1>
                    </div>

                    <p class="hero__description fade-slide-up">{{section.settings.description | escape}}</p>

                    <p class="hero__price fade-slide-up">
                        <span class="hero__dollar-sign">$</span>
                        <span class="hero__price-number">{{section.settings.price | escape}}</span>
                    </p>

                    <hr class="fade-slide-up">

                    <a href="{{section.settings.btn_link}}" class="btn fade-slide-up">{{section.settings.btn_label}}</a>

                    <div class="hero__info fade-slide-up">
                    {%for block in section.blocks%}
                    <div class="hero__info-pair">
                        <p class="hero__info-key">{{block.settings.info_key | escape}}</p>
                        <p class="hero__info-value">{{block.settings.info_value | escape}}</p>
                    </div>
                    {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{%schema%}
{
"name": "Kombucha Hero",
"settings": [
{
"type": "image_picker",
"id": "img",
"label": "Image"
},
{
"type": "text",
"id": "tag",
"label": "Tag",
"default": "Organic Tea"
},
{
"type": "text",
"id": "heading_top",
"label": "Top heading",
"default": "Sparkling . Tea"
},
{
"type": "text",
"id": "heading_bottom",
"label": "Bottom heading",
"default": "Kombucha"
},
{
"type": "text",
"id": "description",
"label": "Description",
"default": "Sparkling teas are essentially a mix of soda and tea, a cold, carbonated version of the healthy classic-and health experts love them. \"These beverages can provide the benefits of the tea in them,\" says Jessica Cording, R.D."
},
{
"type": "text",
"id": "price",
"label": "Price",
"default": "89.99"
},
{
"type": "text",
"id": "btn_label",
"label": "Button label",
"default": "Buy Now"
},
{
"type": "url",
"id": "btn_link",
"label": "Button link"
}
],
"blocks": [
{
"name": "Info",
"type": "info",
"settings": [
{
"type": "text",
"id": "info_key",
"label": "Key"
},
{
"type": "text",
"id": "info_value",
"label": "Value"
}
],
"limit": 3
}
],
"presets": [
{
    "name": "Kombucha Hero"
}
]
}
{%endschema%}